* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
    background: white;
    color: #030303;
}

header {
    background: #fcfbfb;
    color: black;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    font-weight: 700;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #030303;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
}

header ul li a:hover {
    background: #FB6D8E;
    color: white;
    border-radius: 5px;
}

.toggle-btn {
    font-size: 25px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    height: 100vh;
    background: linear-gradient(135deg, #FFC1CC, #FFFFFF);
}

.hero-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hero-content {
    text-align: center;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #FF5E78;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #333;
}

.hero .btn {
    padding: 15px 30px;
    background-color: #FF5E78;
    color: #fff;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #FA3D5A;
}

footer {
    padding: 20px;
    background-color: #FB6D8E;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block;
    }

    .display-none-mobile {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .display-none-mobile.show {
        display: flex;
    }

    .display-none-mobile li {
        margin: 10px 0;
        text-align: center;
    }
    header{
        padding: 25px 20px;
    }

    .hero {
        padding: 20px;
    }

    .hero-image img {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero .btn {
        font-size: 0.9rem;
    }
}
