* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #030303;
}

.hero {
    position: relative; /* To contain the ::before pseudo-element */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.dribbble.com/userupload/7807170/file/original-4930b2954133b657d4599e6b880cf7a0.jpg?resize=2048x1181");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
    transform: scale(1.1);
}

.hero-content {
    z-index: 1;
    color: white;
}


.hero-content h1 {
    font-size: 2.5rem;
    color: #FF5E78; /* Girlish color */
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fcfbfb;
}

.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.widget {
    background-color: #FB6D8E; /* Widget background color */
    color: white; /* Text color */
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    flex: 1 1 calc(20% - 20px); /* Responsive widget size */
    text-align: center; /* Center text */
    transition: transform 0.3s; /* Smooth transition */
    cursor: pointer; /* Cursor pointer */
}

.widget:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

section {
    padding: 40px 20px;
    text-align: center;
}

footer {
    padding: 20px;
    background-color: #FB6D8E;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block; /* Show toggle button on mobile */
    }

    header ul {
        display: none; /* Hide default menu */
        flex-direction: column; /* Stack links */
        width: 100%;
    }

    header ul.show {
        display: flex; /* Show menu when toggled */
    }

    .widget {
        flex: 1 1 calc(45% - 20px); /* Adjust widget size for mobile */
    }
}
