* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #fcfbfb, #D1E7F6);
    color: #fff;
}

main {
    flex-grow: 1;
}

.cute-particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.particle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #D8A1E0;
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
}

.particle:nth-child(even) {
    width: 25px;
    height: 25px;
    background-color: #DCB1D4;
}

@keyframes float {
    0% {
        transform: translateY(100vh) translateX(0);
    }
    100% {
        transform: translateY(-100vh) translateX(10vw);
    }
}
.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #FF6CCE;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fcfbfb;
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -250px;
    background: linear-gradient(135deg, #66B6CC, #FF6CCE);
    width: 250px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 10;
}

.mobile-nav.show {
    left: 0;
}

.mobile-nav ul {
    list-style: none;
    padding: 20px;

}

.mobile-nav ul li {
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;

}
.mobile-nav ul li i {
    color: #fcfbfb;
    font-size: 1.2rem;
    margin-right: 10px;
}
.mobile-nav ul li i:hover {
    color: #FF6CCE;
}
.mobile-nav ul li a {
    color: #fcfbfb;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}
.mobile-nav ul li a:hover {
    color: #FF6CCE;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-height: auto;
    flex-grow: 1;
    z-index: 1;
}

.hero-content {
    text-align: center;
    color: #FF6CCE;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
}
.hero-content p{
    color: #66B6CC;
    font-weight: bolder;
    font-size: 1.1rem;
}
.hero-content h2 i {
    margin-right: 8px;
    font-size: 1.5rem;
    color: #66B6CC;
}
.btn-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

p {
    margin-right: 10px;
    flex-grow: 1;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 10px auto;
    padding: 0 20px;
}
.details p {
    color: #fcfbfb;
    font-weight: bolder;
    font-size: 1.1rem;
    line-height: 1.5;
}

.second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.bg-background ,.bg-goals, .bg-achievements, .bg-interests, .bg-extra {
    background: linear-gradient(135deg, #66B6CC, #FF6CCE);
}
.bg-achievements ul {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    font-weight: bolder;
}
.card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.card h3 i {
    margin-right: 10px;
    color: #FF6CCE;
    font-size: 1.5rem;
}


.btn i {
    margin-right: 8px;

}

#download {
    background-color:#66B6CC ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#download:hover {
    background-color: #FF6CCE;
}
.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.toggle-btn{
    color: #FF6CCE;
}
.toggle-btn:hover {
   transform-style: preserve-3d;
}
.hero,header, main, footer {
    position: relative;
}
footer {
    padding: 20px;
    background-color: #66B6CC;
    color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .mobile-nav {
        width: 100%;
      left: -100%;
    }

    .mobile-nav.show {
        left: 0;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .details {
        grid-template-columns: 1fr;
    }

    .second-row {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 15px;
    }
    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn-container {
        justify-content: center;
        margin-top: 15px;
    }

    p {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .achievements{
        grid-template-columns: 1fr;
    }


}

@media (max-width: 480px) {
    .hero-content h2 {
        font-size: 1.5rem;
    }

    .card {
        padding: 10px;
    }
    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    .hero-content h2 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}
.achievements {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.achievements li {
    padding: 2px 0;
}


.achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}




